/*Titulos*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*
 font-family: "Playfair Display", serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
*/
@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
/*
font-family: "Sedan", serif;
font-weight: 400;
font-style: normal;
*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*
font-family: "PT Serif", serif;
font-weight: 400;
font-style: normal;
*/
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
/*
font-family: "Jersey 25", sans-serif;
font-weight: 400;
font-style: normal;
*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/*
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/
